body{
    background-color: #34495e;
    color: white;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.game-container{
    fill:transparent;
    stroke: #fff;
    stroke-width: 4px;
    stroke-linecap: round;
}
.figure_parts{
    display: none;
}
.wrong-letters-container{
    position: absolute;
    top:20%;
    right: 20%;
}
.wrong-letter{
    display: flex;
    flex-direction: column;
    font-size: 25px;
}
.word{
    display: flex;
}
.word .letter{
    font-size: 30px;
    margin: 5px;
    border-bottom: solid 3px #3378dd;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 50px;
}
.popup-container{
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
}
.popup{
    background-color: #2980b9;
    border-radius: 5px;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.25);
    padding: 20px;
    text-align: center;
}
.popup button{
    outline: none;
    cursor: pointer;
    padding: 8px;
    border: none;
    font-weight: bold;
    color: #2980b9;
}
.popup button:active{
    transform: scale(0.98);
}
.notification-container{
    position: absolute;
    bottom: -150px;
    transition: transform 0.7s ease-in-out;
    background-color: rgba(0,0,0,0.3);
    padding: 10px;
    border-radius: 8px 8px 0 0 ;
}
.notification-container.show{
    transform: translateY(-150px);
}